<div class="row article-box">
	{{!--
	<div class="row"> --}}
		<div class="col-md-10">
			<h3>{{title}}</h3>
			<p>{{link}}</p>
		</div>
		<div class="col-md-2">
			<button id="add-notes" class="btn-success" data-id="{{_id}}">Notes</button>
			<button id="delete-notes" class="btn-danger">Delete</button>
		</div>

		{{!-- </div> --}}

</div>
<div class="row">

	<div class="col-md-6 col-md-offset-5" >
		<div class="input-group" id="notes{{_id}}">

		</div>
	</div>
</div>